<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <h1>Hello my friend!</h1>
    <h2>Сlick the button to say hello to the world!</h2>
    <table>
        <tr>
            <th>PRODUCT NAME</th>
        </tr>
        <tr th:each="p: ${count}" >
            <td th:text="${count}"></td>
        </tr>
    </table>


    <h2>add hello</h2>
    <form action="/hello" method="post">
        hello: <input type="count" name="count">
        <button type="submit">Add Hello</button>
    </form>

</head>
<body>

</body>
</html>
