<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <title>Broker App</title>
</head>
<body>

<h1>Добро пожаловать в приложение - Broker!</h1>
<p>На данный момент в приложении можно посмотреть состояние инвестиционного портфеля и добавить инструмент!</p>
<p></p>

<a href="@{/portfolio}">Нажмите сюда, чтобы добавить инструмент</a>
</body>
</html>
